:root {
  --color-dark: #161616;
  --color-ocean: #416dea;
  --color-grass: #40d690;
  --color-snow: #ffffff;
  --color-salmon: #f32c52;
  --color-sun: #feee7d;
  --color-alge: #7999a9;
  --color-flower: #353866;
  --color-smoke: #e4e4e4;

  --borderRadius: 5px;
  background: #f2f2f2;
}

* {
  transition: all 0.2s ease-in-out;
}

html,
body {
  min-height: 100vh !important;
}

.page {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  padding-top: 1rem;
}

.mt-0 {
  margin-top: 0rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.af-header-title {
  color: #454545;
  font-weight: 300;
  font-size: 2.8rem;
  text-align: center;
  padding: 1rem 0;
  font-family: "Poppins", sans-serif;
}

.af-fullLogo {
  width: 18rem;
}

// Buttons

.link {
  // Reset CSS
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: initial;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
}

.buttonList {
  width: 100%;
  opacity: 0.9;
  display: flex;
  flex-wrap: wrap;
  overflow: visible;
  align-items: center;
  justify-content: center;
}

// Custom Crossword styles

.CrosswordWrapper {
  transition: filter 0.2s ease-in-out;
  &:hover {
    filter: drop-shadow(2px 6px 10px rgb(248, 248, 248));
  }
}

.clue {
  color: #444;
  padding-left: 1rem;
  padding-top: 0.4rem;
  border-radius: 3px;
  padding-bottom: 0.6rem;
}

.grid .clue {
  background: #000 !important;
}

.crossword {
  .clues {
    margin-top: 0;
    padding: 0;
  }
}

.correct.crossword {
  color: #555 !important;
  text-decoration: none !important;
  background: #47d89227 !important;
  border-radius: 12px !important;
  padding-top: 20px !important;
  margin-bottom: 2rem;
  .grid {
    display: none;
  }
  .clues {
    display: none;
  }
  &::before {
    content: "All answers are Correct!";
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
  }
  &::after {
    color: #888;
    padding: 2rem;
    font-size: 0.8rem;
    text-align: center;
    content: "Tap on submit to continue";
  }
}

.actualGrid {
  opacity: 0.8;
  padding: 1rem 0;
  padding-top: 0;
  max-width: 30em;
}

@media screen and (max-width: 380px) {
  .btn {
    min-width: 9.4rem !important;
  }
}

// Final Page Specific
.finalButton {
  opacity: 0.72;
  min-width: 16rem !important;
}

// .af-game-bold-title {
//   font-weight: 700;
//   font-size: 3rem;
//   margin-top: 40%;
//   text-align: center;
//   letter-spacing: -1px;
//   transform: rotate(45deg);
//   position: absolute;
//   color: #44484925 !important;
//   font-family: "Montserrat", sans-serif;
//   &::before {
//     content: "GASD";
//     transform: rotate(90deg), translate(1rem) !important;
//   }
// }

// temp
