:root {
  --color-dark: #161616;
  --color-ocean: #416dea;
  --color-grass: #40d690;
  --color-snow: #ffffff;
  --color-salmon: #f32c52;
  --color-sun: #feee7d;
  --color-alge: #7999a9;
  --color-flower: #353866;
  --color-smoke: #e4e4e4;
  --borderRadius: 4px;
  background: #f2f2f2;
}

* {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mt-0 {
  margin-top: 0rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.af-header-title {
  color: #454545;
  font-weight: 300;
  font-size: 2.8rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.af-fullLogo {
  width: 18rem;
}

.link {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: initial;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
}

.buttonList {
  width: 100%;
  opacity: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: visible;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttonList button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin: 10px;
  padding: 12px 12px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  text-transform: capitalize;
  color: #fff;
  border: 0 none;
  border-radius: var(--borderRadius);
  font-size: 13px;
  font-weight: 500;
  line-height: 1.3;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8rem;
          flex: 0 0 8rem;
  -webkit-box-shadow: 2px 5px 10px var(--color-smoke);
          box-shadow: 2px 5px 10px var(--color-smoke);
}

.buttonList button:hover {
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
  opacity: 0.85;
}

.buttonList button:active {
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
  opacity: 0.75;
}

.buttonList button:focus {
  outline: 1px dotted #959595;
  outline-offset: -4px;
}

.buttonList .button.-regular {
  color: #202129;
  background-color: #f2f2f2;
}

.buttonList .button.-regular:hover {
  color: #202129;
  background-color: #e1e2e2;
  opacity: 1;
}

.buttonList button.-black {
  color: var(--color-snow);
  background: var(--color-dark);
}

.buttonList button.-black:focus {
  outline: 1px dotted white;
  outline-offset: -4px;
}

.buttonList .button.-green {
  color: #202129;
  font-weight: 500;
  background: var(--color-grass);
}

.CrosswordWrapper {
  -webkit-transition: -webkit-filter 0.2s ease-in-out;
  transition: -webkit-filter 0.2s ease-in-out;
  transition: filter 0.2s ease-in-out;
  transition: filter 0.2s ease-in-out, -webkit-filter 0.2s ease-in-out;
}

.CrosswordWrapper:hover {
  -webkit-filter: drop-shadow(2px 6px 10px #f8f8f8);
          filter: drop-shadow(2px 6px 10px #f8f8f8);
}

.clue {
  color: #444;
  padding-left: 1rem;
  padding-top: 0.4rem;
  border-radius: 3px;
  padding-bottom: 0.6rem;
}

.grid .clue {
  background: #000 !important;
}

.correct.crossword {
  color: #555 !important;
  text-decoration: none !important;
  background: #47d89227 !important;
  border-radius: 12px !important;
  padding-top: 20px !important;
}

.correct.crossword .grid {
  display: none;
}

.correct.crossword .clues {
  display: none;
}

.correct.crossword::before {
  content: "All answers are Correct!";
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
}

.correct.crossword::after {
  color: #888;
  padding: 2rem;
  font-size: 0.8rem;
  text-align: center;
  content: "Tap on submit to continue";
}
/*# sourceMappingURL=App.css.map */