:root {
  --color-dark: #161616;
  --color-ocean: #416dea;
  --color-grass: #40d690;
  --color-snow: #ffffff;
  --color-salmon: #f32c52;
  --color-sun: #feee7d;
  --color-alge: #7999a9;
  --color-flower: #353866;
  --color-smoke: #e4e4e4;

  --borderRadius: 4px;
  background: #f2f2f2;
}

* {
  transition: all 0.2s ease-in-out;
}

.page {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}

.mt-0 {
  margin-top: 0rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.af-header-title {
  color: #454545;
  font-weight: 300;
  font-size: 2.8rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.af-fullLogo {
  width: 18rem;
}

// Buttons

.buttonList {
  width: 100%;
  opacity: 0.9;
  display: flex;
  flex-wrap: nowrap;
  overflow: visible;
  align-items: center;
  justify-content: center;
  button {
    display: flex;
    overflow: hidden;

    margin: 10px;
    padding: 12px 12px;

    cursor: pointer;
    user-select: none;
    transition: all 150ms linear;
    text-align: center;
    white-space: nowrap;
    text-decoration: none !important;
    text-transform: none;
    text-transform: capitalize;

    color: #fff;
    border: 0 none;
    border-radius: var(--borderRadius);

    font-size: 13px;
    font-weight: 500;
    line-height: 1.3;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    justify-content: center;
    align-items: center;
    flex: 0 0 8rem;

    box-shadow: 2px 5px 10px var(--color-smoke);

    &:hover {
      transition: all 150ms linear;
      opacity: 0.85;
    }

    &:active {
      transition: all 150ms linear;
      opacity: 0.75;
    }

    &:focus {
      outline: 1px dotted #959595;
      outline-offset: -4px;
    }
  }

  .button.-regular {
    color: #202129;
    background-color: #f2f2f2;

    &:hover {
      color: #202129;
      background-color: #e1e2e2;
      opacity: 1;
    }
  }

  button.-black {
    color: var(--color-snow);
    background: var(--color-dark);

    &:focus {
      outline: 1px dotted white;
      outline-offset: -4px;
    }
  }
  .button.-green {
    // color: var(--color-snow);
    color: #202129;
    font-weight: 500;
    background: var(--color-grass);
  }
}

// Custom Crossword styles

.CrosswordWrapper {
  transition: filter 0.2s ease-in-out;
  &:hover {
    filter: drop-shadow(2px 6px 10px rgb(248, 248, 248));
  }
}

.clue {
  color: #444;
  padding-left: 1rem;
  padding-top: 0.4rem;
  border-radius: 3px;
  padding-bottom: 0.6rem;
}

.grid .clue {
  background: #000 !important;
}

.correct.crossword {
  color: #555 !important;
  text-decoration: none !important;
  background: #47d89227 !important;
  border-radius: 12px !important;
  padding-top: 20px !important;
  .grid {
    display: none;
  }
  .clues {
    display: none;
  }
  &::before {
    content: "All answers are Correct!";
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
  }
  &::after {
    color: #888;
    padding: 2rem;
    font-size: 0.8rem;
    text-align: center;
    content: "Tap on submit to continue";
  }
}
